
<h1><%= name %>, What is your location?</h1>

<form action = "location" method = "post">
  Hometown: <input type = "text" name = "user_location" autofocus>
   <input type = "text" name = "user_name" value = <%= name %> hidden>
   <input type="submit">
</form>