
<h1>What is your age?<h1>

<form action = "age" method = "post">
  Age: <input type = "text" name = "user_age" autofocus>
   <input type = "text" name = "user_name" value = <%= name %> hidden>
   <input type = "text" name = "user_location" value = <%= location %> hidden>
   <input type = "submit">
</form>