<!DOCTYPE html>
<html>
<head>
  <link href="css/style.css" rel="stylesheet">
 </head>
 <body>
    <div class="bg_color outside ">
      <h1 class="center blue">Personal Details</h1>
        <div class="center">
          <h2><a href="/">Restart</a></h2>
        <div class="footer">PersonalDetails.org</div>
     </div>
  </div>
<br><br>
<br>
<p class ="center"<%=yield%></p>
</body>
</html>